# FRONTEND
frontend/node_modules/
frontend/dist/
frontend/.pnpm/pnpm-lock.yaml

# BACKEND
backend/target/
backend/*.log
backend/*.class
backend/.mvn/
backend/*.jar
backend/.classpath
backend/.project
backend/.settings/

# GENERAL
.env
.env.local
.github/


# IDEs
.vscode/
.idea/

# SISTEMAS OPERATIVOS 
.DS_Store

# BBDD
postgres_data/

# Git Hub
.github/

# Claude AI
CLAUDE.md
.claude/
graphify-out/